<div class="hero">
    <div class="header">
        <div class="overlay">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="caption">
                            <div class="carousel">
                                <div class="carousel-slide">
                                    <img src="1.webp" alt="Slide 1">
                                    <img src="2.webp" alt="Slide 2">
                                    <img src="3.webp" alt="Slide 3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="caption1">
                            <h1 class="heading">Welcome to <img class="headingImg" src="Logo_V2.gif" alt=""></h1>
                            <div class="bonders w-75 p-3 mx-auto">
                                <i class="fa-solid fa-quote-left"></i>
                                <h3
                                    style="margin-bottom: 20px; font-weight: bold; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                                    The Bonders Are</h3>
                                <p>
                                    A bonded family that mix and match creativity and commitment to help brands go
                                    beyond the limit.</p>
                                <i class="fa-solid fa-quote-right"></i>
                            </div>
                            <button class="btn1" routerLink="/services">Browse Our Services</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>