.navbar-nav .nav-item{
    cursor: pointer;

}
.logo{
    width: 70px;
    height: 50px;
}
.navbar{
    background: linear-gradient(to left, rgba(252, 2, 2), rgb(112, 112, 253));
    position: fixed;
    z-index: 95955959;
    width: 100%;
}
.navbar-nav .icons{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 5px 10px;
}