.about {
    background: linear-gradient(to left, rgba(214, 2, 2, 0.5), rgba(93, 93, 209, 0.5));
}

.about-container {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    text-align: center;
    padding: 30px;
    background: linear-gradient(to left, rgba(214, 2, 2, 0.5), rgba(93, 93, 209, 0.5));
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.about-title {
    font-size: 36px;
    color: rgb(177, 0, 0);
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-description {
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
    line-height: 1.6;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.about-details {
    text-align: left;
    margin-top: 40px;
}

.about-details h2 {
    font-size: 36px;
    color: rgb(177, 0, 0);
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.about-details ul {
    list-style-type: none;
    padding: 0;
}

.about-details li {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}